# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# esbuild directories
.esbuild

# cypress
cypress.env.json
cypress/screenshots
cypress/videos

# Other
.env
.vscode
npm-debug.log
dist

