#####################################
######## GENERAL ######################
#####################################
NODE_ENV = development
STAGE = dev



#####################################
######## AWS ######################
#####################################

##### DynamoDb
IDEAS_TABLE_NAME = IdeasTable
IDEAS_TABLE_READ_CAPACITY = 2
IDEAS_TABLE_WRITE_CAPACITY = 2




